

:root {
    --primary: #13ec5b;

    --background-light: #f6f8f6;
    --background-dark: #111813;

    --foreground-light: #1f2923;
    --foreground-dark: #e0e7e2;

    --card-light: #ffffff;
    --card-dark: #1c271f;

    --subtle-light: #9ca3af;
    --subtle-dark: #9db9a6;

    --border-light: #e5e7eb;
    --border-dark: #3b5443;

    --font-display: "Space Grotesk", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--font-display);
}

body {
    font-family: var(--font-display);
        color: var(--card-light);
        background-color: var(--background-dark);
    
      
}

header {
    text-align: center;
    padding: 2rem 0;
}

header i {
    font-size: 3rem;
    color: #0d6efd;
}

.card {
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    background-color: var(--card-dark);
    color: var(--card-light);
    border: 1px solid var(--border-dark);
}

.icon {
    color: var(--primary);
    font-size: 48px;
    margin-bottom: 10px;
}

.form-control, .form-select {
    background-color: var(--background-dark);
    color: var(--card-light);
    border: 1px solid var(--border-dark);
}

.form-control::placeholder {
    color: var(--subtle-dark);
}

.form-control:focus, .form-select:focus {
    background-color: var(--background-dark);
    color: var(--card-light);
    border-color: var(--primary);
    box-shadow: 0 0 0 0.25rem rgba(19, 236, 91, 0.25);
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--background-dark);
    font-weight: bolder;
}

.btn-primary:hover {
    background-color: darken(var(--primary), 10%);
    border-color: darken(var(--primary), 10%);
}